 /* Reset CSS*/
 *{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
img { /*[RESET IMPORTANTE] Le immagini si adattano al contenitore*/
    max-width: 100%; /*Si tiene dentro al contorno del contenitore*/
    height: auto; /*Mantiene l'aspect ratio*/
}
body, html{
    height: 100%;
    margin: 0;
    background-color: blue;
    
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Heebo', sans-serif;
}
/* header zone */
header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(img/cover.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35px; 
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
    align-items: center;
    font-family: 'Heebo', sans-serif;
}
a:hover{
    opacity: 0.8;
}
.header_home{
    height: 100vh;
    align-items: baseline;
}
.contenuto { 
    display: flex;
    justify-content: center;
    height: 30px;
}
.contenuto a {
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 22px;    
    text-transform: uppercase;
}
input[type=checkbox], ul{
    display: none;
}
input[type=checkbox]:checked ~ ul {
    display: block
}
.dropdown {
    display:none;
    margin-right: 20px; 
}
.dropdown ul{
    list-style-type: none;
    width: 100%;
    right: 0;
    top: 40px;
    margin-top: 30px;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    background-color: #0a1128;
}
.dropdown ul li{
    padding: 30px;
}
.dropdown ul li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
}
.contenuto a {
    display: flex;
    align-items: center;
}
.logo {
    width: 30px;
    margin-right: 10px;
}
.donate {
    padding: 25px 0px;
    font-size: 30px;
    background-color: rgb(248, 114, 3);
    border-radius: 5px;
    margin-right:40px;
}
.donate:hover{
    opacity: 0.8;
}
nav.contenuto .active, .dropdown ul li a.active {
    border-bottom: 1px solid rgb(248, 114, 3); 
    padding: 3px;
    margin: 0 17px
}
header h1{
    color: white;
    padding:0 13%;
    font-size: 4.5em;
    color: #fff;
    line-height: 1.2;
    display: flex;
    align-items: center;
    height:70vh;
    margin-top: -10vh;
    width: 100%;
}
.btn-to-main{
    display: flex;
    justify-content:center;
    position: absolute;
    bottom: 5%;
    width: 100%;
}
/* main zone */
main {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
main .colonna {
    width: 50%;
    padding: 20px;
    
}
main .colonna h2 {
    margin-top: 10px;
    text-align: center;
}
main .colonna p{
    margin-top: 10px;
    margin-right: 100px;
    text-align: justify;
    hyphens: auto;
}
main img {
    width: 50%;
    margin-left: 50%;
    height: auto;
}
/*aside zone*/
.bannermain {
    height: 200px;
    color: black;
    background-image: url(img/sfondobanner.jpg); 
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}
.bannernews {
    height: 200px;
    color: black;
    background-color:rgb(248, 114, 3);  
}
.bannertext {
   display: flex;
   justify-content: center;
   font-size: 40px;
   align-items: center;
   text-align: center;
   line-height: 180px;
   color: white;
}
aside h2 {
    text-align: center;
    padding-top: 20px;
    color: white;
}
form.newsletter{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}
form.newsletter input {
    padding: 15px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}
form.newsletter .campomail {
    margin-right: 30px;
    width: 50%;
}
::placeholder {
    color: white;
}
footer {
    background-color:#315354;
    color: white;
    text-align: center;
    height: 150px;
}
footer div.social {
    width: 100%; 
    display: flex;
    justify-content: center;
}
.social a {
    margin: 20px 20px;
    width: 30px;
}
/* media query */

@media (max-width: 1000px){

    /* Header */
    
    .menu {
        display: none
    }
    .dropdown{
        display: block;
        text-align: right;
    }
    header{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 750px){

    header h1{
        font-size: 4em;
        padding:20% 0;
    }
}
@media (max-width: 550px){

    header h1{
        font-size: 3em;
    }
}


