 /* Reset CSS*/
 *{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    margin: 0;
    background-color: blue;
    font-family: Coolvetica, Helvetica, sans-serif;
}
/* background zone */
.sfondo {
    background-image: url(img/cover.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
}
/* header zone */
.active {
    color: blue;
}
.testoheader{
    color: white;
    margin-left: 10px;
    padding: 30px 0px;
    padding:10%;
    font-size: 90px;
    color: #fff;
    line-height: 1.2;
}
a {
    text-decoration: none;
    color: white;
    font-size: 26px;
}
nav {
    padding: 30px 20px 0 0;
}
nav ul { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
nav li {
    padding: 30px 20px;
    display: inline-block;
    font-size: 26px;
    text-transform: uppercase;
    padding: 0 50px;

}
.center_header_margin_right{
    margin-right: 10%;
}
.center_header_margin_left{
    margin-left: 10%;
}

.logo{
    margin-bottom: -10px; margin-right: 10px;
}
.donate {
    padding: 7px 10px;
    font-size: 26px;
    background-color: rgb(248, 114, 3);
    border-radius: 5px;
}
.btn-to-main{
    display: flex;
    justify-content: center;

}
/* main zone */
main {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
main .colonna {
    width: 50%;
    padding: 20px;
    
}
main .colonna h2 {
    margin-top: 10px;
    text-align: center;
}
main .colonna p{
    margin-top: 10px;
    margin-right: 100px;
    text-align: justify;
    hyphens: auto;
}
/*aside zone*/
.banner {
    height: 200px;
    color: black;
    background-color: turquoise;
    
}

.bannertext {
   display: flex;
   justify-content: center;
   font-size: 60px;
   align-items: center;
   text-align: center;
   line-height: 200px;
}
footer {
    background-color:#315354;
    color: white;
    text-align: center;
    height: 150px;
}

footer div.social {
    width: 100%; 
    display: flex;
    justify-content: center;
}
.social a {
    margin: 20px 20px;
    width: 30px;
}
