html, body{
    margin: 0;
    padding: 0;
    
    font-family: Coolvetica, Helvetica, sans-serif;
}


/* to copy */

header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(img/cover.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35px; 
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-transform: uppercase;
    padding: 20px 0;
    align-items: center;
}
.contenuto { 
    display: flex;
    justify-content: center;
    height: 30px;
}
.contenuto a {
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}
input[type=checkbox], ul{
    display: none;
}
input[type=checkbox]:checked ~ ul {
    display: block
}
.dropdown {
    display:none;
    margin-right: 20px; 
}
.dropdown ul{
    list-style-type: none;
    width: 100%;
    right: 0;
    top: 45px;
    margin-top: 30px;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    background-color: #0a1128;
}
.dropdown ul li{
    padding: 20px;
}
.dropdown ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.contenuto a {
    display: flex;
    align-items: center;
}
.logo {
    width: 30px;
    margin-right: 10px;
}
.donate {
    padding: 7px 0px;
    font-size: 26px;
    background-color: rgb(248, 114, 3);
    border-radius: 5px;
    margin-right:40px;
}
nav.contenuto .active, .dropdown ul li a.active {
    border-bottom: 1px solid rgb(248, 114, 3);
    padding: 3px;
}




/* media query */

@media (max-width: 900px){
    .menu {
        display: none
    }
    .dropdown{
        display: block;
        text-align: right;
    }
    header{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
}